beartype>=0.14.1
einops>=0.7.0
jaxtyping>=0.2.23
lightning>=2.0.0
matplotlib>=3.5.0
numpy>=1.21.5
pandas>=2.1.3
plotly>=5.17.0
tokenizers>=0.14.1
datasets>=2.14.5
transformers[torch]>=4.34.0
torch>=2.1.0
tqdm>=4.66.1
pyarrow>=9.0.0
dvc[gdrive]>= 3.28.0
dvclive>=3.2.0
bitsandbytes>=0.41.1
nltk>=3.6.7